API_ID=your_api_id
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
MONGO_URI=your_mongo_uri
ADMIN_IDS=admin_id1,admin_id2
FORCE_SUB_CHANNELS=channel_id1,channel_id2,channel_id3,channel_id4
REFERRAL_THRESHOLD=15
DEFAULT_EARNINGS_MMK=50000